<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="C:/Users/user/Documents/github_repository/marvins-project/WebsiteProject/img/favicon.png" rel="icon">
  <link href="C:/Users/user/Documents/github_repository/marvins-project/WebsiteProject/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <!-- <link href="C:/Users/user/Documents/Arsha/Arsha/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="C:/Users/user/Documents/Arsha/Arsha/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="C:/Users/user/Documents/Arsha/Arsha/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="C:/Users/user/Documents/Arsha/Arsha/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="C:/Users/user/Documents/Arsha/Arsha/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="C:/Users/user/Documents/Arsha/Arsha/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="C:/Users/user/Documents/Arsha/Arsha/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="C:/Users/user/Desktop/ProjectDjango/src/Appwork/Appwork/style/style.css/" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MARCH TECH
  * Author: MARVIN
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <span class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="C:/Users/user/Desktop/ProjectDjango/src/Appwork/Appwork/templates/home.html">March Tech</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="C:/Users/user/Documents/Arsha/Arsha/assets/img/logo.png" alt="" class="img-fluid"></a> -->

      <nav id="navbar" class="navbar">
        {% include 'Navbar.html' %}        
      </nav><!-- .navbar -->
      <main>
        {% include 'About.html' %}
      </main>
      <span>
        {% include 'services.html' %}
      </span>
    </span>
  </header><!-- End Header -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Arsha</h3>
            <p>
              Donholm, phase 5 <br>
              Nairobi, Na 01400-0020<br>
              Kenya <br><br>
              <strong>Phone:</strong> +254 796 434 634<br>
              <strong>Email:</strong> Marvinirungu58@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>  